﻿@model IFixCar_.Models.ServiceCategory

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="card card-register mx-auto mt-4" >
        <div class="card-header">Add New Category</div>
        <div class="card-body">
            <form asp-action="Create">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input asp-for="ServiceName" type="text" class="form-control" required="required" autofocus="autofocus">
                                <label asp-for="ServiceName" class="control-label">Category Name</label>
                                <span asp-validation-for="ServiceName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input asp-for="SvImg" type="file" id="upimg" name="upimg" class="form-control" required="required" autofocus="autofocus">
                                <label asp-for="SvImg" class="control-label">Category Name</label>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="form-group">
                <input class="btn btn-primary btn-block" value="Submit" type="submit">
                     </div>
            </form>
            <div class="text-center">
                <a asp-action="Index" class="d-block small mt-3" >Back to List</a>
            </div>
        </div>
    </div>
</div>

