﻿@model IFixCar_.Models.ServiceCategory

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="card card-register mx-auto mt-4">
        <div class="card-header">Delete Category</div>
        <div class="card-body">
            <form asp-action="Delete">
                <div class="form-group">
                    <div class="form-row">
                    
                                <h4>
                                    <label asp-for="ServiceName" class="control-label" align="">Are you sure you want to delete this?</label>
                                </h4>
                     
                    </div>
                </div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ServiceName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ServiceName)
                    </dd>
                </dl>
                <div class="form-group">
                    <input class="btn btn-primary btn-block" value="Delete" type="submit">
                </div>
            </form>
            <div class="text-center">
                <a asp-action="Index" class="d-block small mt-3">Back to List</a>
            </div>
        </div>
    </div>
</div>
