﻿@model IFixCar_.Models.ServiceCategory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container">
    <div class="card card-register mx-auto mt-4">
        <div class="card-header">Category Details</div>
        <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ServiceName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ServiceName)
                    </dd>
                </dl>
                <div class="text-center">
                    <a asp-action="Edit" asp-route-id="@Model.id" class="d-block small mt-3">Edit</a>
                    <a asp-action="Index" class="d-block small mt-3">Back to List</a>
                </div>
        </div>
    </div>
</div>
